include mixins/addTodo
include mixins/carousel

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="Track your goals")
        meta(property="og:title" content="Track your goals")
        meta(property="og:url" content="app---todo.herokuapp.com")
        meta(property="og:description" content="This web app helps you to keep track of your daily goals.")
        meta(property="og:image" content="https://images-eu.ssl-images-amazon.com/images/I/41da3NERJ4L.png")
        meta(property="article:publisher" content="app---todo.herokuapp.com")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@amankumar062")
        meta(name="twitter:title" content="Track your goals")
        meta(name="twitter:description" content="This web app helps you to keep track of your daily goals.")
        meta(name="twitter:url" content="app---todo.herokuapp.com")
        meta(name="author" content="Aman Kumar")
        meta(name="description" content="This web app helps you to keep track of your daily goals.")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        //- Materializecss
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")

        //- Material Icon
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

        //- CSS
        link(rel='stylesheet' href='/dist/style.css')

        //- icon
        link(rel="shortcut icon" type="image/png" href="/assets/icons/icon.png")

        //- Materializecss JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

        //- Baffle
        script(src="https://cdnjs.cloudflare.com/ajax/libs/baffle.js/0.2.1/baffle.min.js")

        title= `${title || 'Home'} | Track your goals`

    body
        noscript You need to enable JavaScript to run this app.
        audio.audio(loop src="/assets/done.mp3")

        .nav--bar
            .left--nav
                .hamBurger
                    .line1
                    .line2
                    .line3
                h5
                    a(href="/").brand--logo ð“£ð“»ð“ªð“¬ð“´ ð”‚ð“¸ð“¾ð“» ð“°ð“¸ð“ªð“µð“¼

            if user
                .right--nav
                    h6
                        
                        a.manage--account(href="/account") 
                            span.material-icons person
                            span #{user.username}
                        a.valign-wrapper.center-align(href="/logout") 
                            span Sign out 

        .main
            .left--block
                block left-content
                    - let todaysTask = 0
                    if user
                        - let todays = user.todos 
                        each t in todays 
                            if (h.moment(t.dueDate).tz("Asia/Kolkata").format("DD MMMM YYYY") === h.moment(Date.now()).tz("Asia/Kolkata").format("DD MMMM YYYY"))
                                - todaysTask ++

                    div
                        .greetings 
                            if user 
                                - let currentHour = h.moment().tz("Asia/Kolkata").format("HH")
                                - let name = (user.name).split(' ')[0]

                                if (currentHour>=4 && currentHour<12)
                                    h5.header= `Good Morning ${name}!`

                                else if (currentHour>=12 && currentHour<16)
                                    h5.header= `Good Afternoon ${name}!`

                                else if (currentHour>=16 && currentHour<20)
                                    h5.header= `Good Evening ${name}!`

                                else 
                                    h5.header= `Good Night ${name}!`

                            else 
                                h5.header Hey There!

                            .quotes 
                                .user--avatar
                                    if user 
                                        if user.avatar
                                            img.circle.responsive-img(src=`/uploads/${user.avatar}` alt=user.name )
                                        else
                                            img.circle.responsive-img(src=user.gravatar + '&d=retro' alt=user.name )
                                    else 
                                        img.circle.responsive-img(src="http://www.ptceducation.com/wp-content/uploads/2017/10/no-user-image-square-9f6a473a32ad639f619216331d10d61ce1b35c9271d5683920960e1a5ee45bb8.jpg" alt="nouser")

                                .user--quotes 
                                    p= `${ user && user.bio || 'While there is life there is a hope!'}`

                        .currentTime 
                            .card--container.z-depth-2
                                .card--content.white-text
                                    p.today--time.black-text= `${h.moment().tz("Asia/Kolkata").format('LT')}`

                                    p.today--date
                                        span.title--task 
                                            span.title Calendar 
                                            if todaysTask === 0
                                                span.task.truncate No Task Today
                                            else 
                                                span.task.truncate= `${todaysTask} Task Today`
                                        span.date--time
                                            span.date= `${h.moment().tz("Asia/Kolkata").format("DD")}` 
                                            span.month= `${h.moment().tz("Asia/Kolkata").format("MMM")}, ${h.moment().tz("Asia/Kolkata").format("YYYY")}`

                    if user
                        - let countDoneTodo =0
                        each todo in user.todos 
                            if todo.done 
                                - countDoneTodo++
                        if countDoneTodo!= user.todos.length
                            +carousel()

            .right--block
                block messages
                    if locals.flashes
                        .inner
                            .flash-messages
                                - const categories = Object.keys(locals.flashes)
                                each category in categories
                                    each message in flashes[category]
                                        .flash(class=`flash--${category}`).z-depth-2
                                            p.flash__text!= message
                                            button.flash__remove(onClick="this.parentElement.remove()") &times;

                block right-content
                    +addTodo()
                    if user.todos.length
                        block todos
                    else 
                        .noTodos 
                            h4 You don't have any task

    block scripts
        script(src="/dist/App.bundle.js")
