mixin carousel()

    - const sortByDate = (user.todos).sort((a, b) => (a.dueDate > b.dueDate ? 1 : -1))
    - const groupByDate = sortByDate.reduce((item, key) => { item[key.dueDate] = [...(item[key.dueDate] || []), key]; return item;}, {})

    .carousel
        each group in groupByDate 
            - let isDone = 0

            each el in group
                if el.done 
                    - isDone ++

            - let leftTask = group.length - isDone

            if leftTask
                a.carousel-item(href="")
                    .row
                        .col.s12 
                            .card-panel.light-blue.center-align
                                if (h.moment(group[0].dueDate).tz("Asia/Kolkata").format("YYYY MMMM DD") === h.moment(Date.now()).tz("Asia/Kolkata").format("YYYY MMMM DD"))
                                    span.white-text= `You have ${leftTask} task Today`

                                else if(h.moment(group[0].dueDate).tz("Asia/Kolkata").format("YYYY MMMM DD") <= h.moment(Date.now()).tz("Asia/Kolkata").format("YYYY MMMM DD"))
                                    span.white-text= `You have ${leftTask} left form ${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('DD')}.${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('MM')}.${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('YY')}`

                                else
                                    span.white-text= `You have ${leftTask} task on ${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('DD')}.${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('MM')}.${h.moment(group[0].dueDate).tz("Asia/Kolkata").format('YY')}`
